.u-small-size {
  font-size: 14px !important;
  margin-top: 8px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
}

.u-smallest-size {
  font-size: 10px !important;
  line-height: 12px !important;
  font-weight: bold !important;
}
